@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  background-color: #f4f4f4;
  color: #f4f4f43b;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
/*-- [Header] -------------
-------------------------------*/
.Header-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 3%;
}
/* -- [logo] --*/
.Header-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.Header a {
  color: #697775ba;
  text-decoration: none;
}
.Main {
  display: grid;
  grid-template-columns: minmax(auto, 976px);
  justify-content: center;
  padding: 10px;
}
/*-- [Grid Gallery - Container] -------------
-------------------------------*/
.Characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-gap: 1.5rem;
  grid-row-gap: 0.5em;
  justify-content: center;
}
.Characters-item {
  animation-duration: 1s;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 150ms ;
  transform-origin: center left;
  -webkit-clip-path: polygon(0 17%, 0 95%, 100% 80%, 100% 0);
}
.Characters-item img {
  height: 115px; 
  width: 100%;
}
.Characters-item:hover  { 
  height: 300px;
  object-fit: cover;
} 
/*-- [Grid details Author e ID Gallery HOVER] -------------
-------------------------------*/
.Characters-item__details {
  align-items: flex-end;
  background: #00D664;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  padding: 10px;
  right: 0;
  text-align: right;
  top: 0;
  transition: 150ms ;
}
.Characters-item__details:hover {
  opacity: 1;
}
.Characters-item__details--img {
  left: 31%;
  position: absolute;
  top: 30%;
  width: 46%;
}
.Characters-item__details--title h1 {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bolder;
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  top: 0px;
}
.Characters-item__details--subtitle h2 {
  bottom: 15%;
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  right: 33%;
}
.about {
  border: 1px solid #697775ba ;
  color: #697775ba;
  margin-left: 25px;
  padding: 20px;
  text-decoration: none;
}
.about .list-style {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
}
